<!doctype html>
<html>

<head>
    <meta name="ac:route" content="/add_topics">
    <base href="/">
    <script src="dmxAppConnect/dmxAppConnect.js"></script>
    <meta charset="UTF-8">
    <title>Learning Log</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="dmxAppConnect/dmxBootstrap4Navigation/dmxBootstrap4Navigation.js" defer=""></script>
    <script src="dmxAppConnect/dmxBrowser/dmxBrowser.js" defer=""></script>
    <link rel="stylesheet" href="dmxAppConnect/dmxValidator/dmxValidator.css" />
    <script src="dmxAppConnect/dmxValidator/dmxValidator.js" defer=""></script>
    <script src="dmxAppConnect/dmxTyped/dmxTyped.js" defer=""></script>
    <script src="dmxAppConnect/dmxTyped/typed.min.js" defer=""></script>
    <script src="dmxAppConnect/dmxBootstrap4Alert/dmxBootstrap4Alert.js" defer=""></script>
    <script src="dmxAppConnect/dmxScheduler/dmxScheduler.js" defer=""></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <script src="dmxAppConnect/dmxBackgroundVideo/dmxBackgroundVideo.js" defer=""></script>
    <link rel="stylesheet" href="dmxAppConnect/dmxAnimateCSS/animate.min.css" />
    <script src="dmxAppConnect/dmxAnimateCSS/dmxAnimateCSS.js" defer=""></script>
</head>

<body is="dmx-app" id="Dashboard_page" class="d-flex">
    <div is="dmx-background-video" id="bgvideo1" src="../../Web%20design/bg/Pexels%20Videos%204580.mp4" dmx-on:blur="bgvideo1.play()"></div>
    <dmx-scheduler id="scheduler_alert_topic_added" dmx-on:tick="scf_add_topic.alert_topic_added.hide()" delay="3" noload="true"></dmx-scheduler>
    <header class="container navbar-light text-body mw-100">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg justify-content-between navbar-light navbar-expand text-info">
                        <i class="fa fa-book fa-fw fa-2x"></i>
                        <a class="navbar-brand ml-auto mr-auto pl-1 font-weight-bolder" href="Dashboard_page" target="_self"><b>Learning Log</b></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1_collapse" aria-controls="navbar1_collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbar1_collapse">
                            <div class="navbar-nav">
                                <div class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown1" role="button" aria-haspopup="true" aria-expanded="false">Topic Management</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown1">
                                        <a class="dropdown-item" href="#">Add Topic</a>
                                        <a class="dropdown-item" href="view_topic">View Topic</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-nav justify-content-end d-none d-lg-flex ml-md-auto">
                            <a class="nav-item nav-link text-center font-weight-bold" href="javascript:void(0):" dmx-on:click="sc_logout.load();browser1.goto('Login_user')">Logout</a>
                            <div class="nav-item dropdown">
                                <div class="dropdown-menu" aria-labelledby="dropdown2">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="row mt-3 mb-5 ml-0 pt-2 pb-2">
                    <div class="col-8">
                        <p class="font-weight-bold"><b>Add topic</b></p>
                        <p><i>Complete the form below to add a new topic</i></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-7">
                    <form is="dmx-serverconnect-form" id="scf_add_topic" method="post" action="api/Back_end_act/Topics/add_topic" dmx-generator="bootstrap4" dmx-form-type="horizontal"
                        dmx-on:success="alert_topic_added.show();alert_topic_added.setType('success');alert_topic_added.setTextContent('\'Successfully added new topic!\'');scf_add_topic.reset();scheduler_alert_topic_added.start()">
                        <div class="form-group row">
                            <label for="inp_topic" class="col-sm-2 col-form-label">Topic</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inp_topic" name="topic" aria-describedby="inp_topic_help" placeholder="Enter Topic" maxlength="50" minlength="3" data-rule-alphanumeric="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inp_entry" class="col-sm-2 col-form-label">Entry</label>
                            <div class="col-sm-10">
                                <textarea id="inp_entry" name="entry" class="form-control" minlength="10" data-msg-maxlength="" maxlength="100"></textarea>
                            </div>
                        </div>
                        <div class="alert fade" id="alert_topic_added" is="dmx-bs4-alert" role="alert" closable="true">
                            <p>This is a nice alert!</p>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">&nbsp;</div>
                            <div class="col-sm-10 text-primary">
                                <button type="submit" class="btn font-weight-bold text-center btn-primary">Add entry

                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </header>
    <dmx-serverconnect id="sc_loggedin_user_data" url="api/Back_end_act/user_act/q_loggedin_userdata"></dmx-serverconnect>
    <dmx-serverconnect id="serverconnect1" url="api/Back_end_act/Topics/add_topic" noload></dmx-serverconnect>
    <div is="dmx-browser" id="browser1"></div>
    <dmx-serverconnect id="sc_template" url="api/Back_end_act/user_act/user_logout" noload dmx-on:success="browser1.goto('Login_user')"></dmx-serverconnect>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>

</html>